#optionsForm {
	font:11px verdana, sans-serif;
	margin-top:20px;
}
#optionsForm  p{
	font:11px verdana, sans-serif;
}
#optionsForm h3 {
	font:bold 17px arial, sans-serif;
	display:block;
	margin:0 0 5px 0;
	max-width:760px;
}
#optionsForm h5{
	padding:0;
	margin:0 0 5px;
	font:bold 12px arial, sans-serif;
}
#optionsForm .marginTop {
	margin-top:20px;
}
#optionsForm h3 span {
	font:normal 11px verdana,sans-serif;
	display:block;
}
#optionsForm h4 {
	font-weight:normal;
	display:block;
	margin:0 0 5px 0;
	font-size:11px;
}
#optionsForm textarea {
	color:#777;
	font-size:11px;
	line-height:15px;
	border:1px solid #ccc;
}
#optionsForm input {
	margin-right:10px;
	border:1px solid #ccc;
	font:11px verdana, sans-serif;
	margin-bottom:5px;
	padding:4px;
}
.inputNormal {
	width:170px;
}
.inputID {
	width:50px;
}
.optionsWide {
	background:#fff;
	padding:9px;
	border:1px solid #ccc;
	width:740px!important;
	width:760px;
	width/**/:/**/740px;
	margin-bottom:15px;
}
.optionsLeft {
	float:left;
	background:#fff;
	padding:9px;
	border:1px solid #ccc;
	width:360px!important;
	width:380px;
	width/**/:/**/360px;
}
.optionsRight {
	float:left;
	background:#fff;
	padding:9px;
	border:1px solid #ccc;
	width:360px!important;
	width:380px;
	width/**/:/**/360px;
}
.optionsTitle {
	float:left;
	padding:0 10px;
	width:360px!important;
	width:380px;
	width/**/:/**/360px;
}
.highlight {
	background:#eaf2fa;
	color:#000;
	width:490px;
	padding:3px 5px;
	margin-bottom:7px;
}